@model IndexModel

<form method="POST"> 
    <input type="hidden" asp-for="Input.PageNumber" />
    <input type="hidden" asp-for="Input.ItemCountPerPage" />
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" asp-for="Input.FilterText" />
        </div>
        <div class="col-md-2">
            <select asp-for="Input.SortMode" class="form-control">
                <option value="1">Ascending</option>
                <option value="0">Descending</option>
            </select>
         </div>
        <div class="col-md-2">
            <select multiple class="form-control" asp-for="Input.UserRights">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" type="submit" asp-page-handler="find" asp-route-pagenumber="@Model.Customers.PageNumber" asp-route-itemcountperpage="@Model.Customers.ItemCountPerPage" >Go</button>
        </div>
    </div>
</form>